services:
  backend:
    build: backend
    environment:
      - BACKEND_DEBUG
      - BACKEND_SECRET_KEY
    volumes:
      - "db_persistence:/var/backend/db"
      - "${DATABASE_BACKUPS_PATH:-/tmp/db-backups}:/var/backend/db-backups"
      - "django_staticfiles:/var/backend/staticfiles"
      - "./backend/src:/var/backend/src"
      - "${MOVIE_LIBRARY_PATH}:/movies"
      - "${GPS_LOGS_PATH}:/var/log/gps"
    restart: unless-stopped
  torrents:
    image: haugene/transmission-openvpn:latest
    environment:
      - OPENVPN_PROVIDER
      - OPENVPN_USERNAME
      - OPENVPN_PASSWORD
      - OPENVPN_CONFIG=netherlands
      - TRANSMISSION_DOWNLOAD_DIR=/triage
      - TRANSMISSION_SPEED_LIMIT_UP=250
      - TRANSMISSION_SPEED_LIMIT_UP_ENABLED=true
      - TRANSMISSION_RPC_HOST_WHITELIST_ENABLED=false
      - PIA_OPENVPN_CONFIG_BUNDLE=openvpn
      - LOCAL_NETWORK=192.168.0.0/16
    volumes:
      - ${MOVIE_LIBRARY_PATH}/transmission:/data
      - ${MOVIE_LIBRARY_PATH}/triage:/triage
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
  timeline:
    build: timeline
    environment:
      - GOOGLE_MAPS_API_KEY
      - TZ=Europe/Berlin
    volumes:
      - ${TIMELINE_DATA_PATH}:/media/timeline
      - timeline_persistence:/var/timeline/output
    restart: unless-stopped
  search:
    build: ./search
    volumes:
      - "${SEARCH_LOGS_PATH}:/var/log/search"
    environment:
      - TZ=Europe/Berlin
    restart: unless-stopped
  proxy:
    image: caddy:2.7-alpine
    environment:
      - SSL_DOMAIN
      - SSL_EMAIL
    volumes:
      - "./proxy/Caddyfile:/etc/caddy/Caddyfile:ro"
      - "./frontend/src:/var/www/movies/frontend:ro"
      - "timeline_persistence:/var/www/timeline:ro"
      - "django_staticfiles:/var/www/movies/django-static:ro"
      - "${MOVIE_LIBRARY_PATH}/library:/var/www/movies/library:ro"
      - "${MOVIE_LIBRARY_PATH}/triage:/var/www/movies/triage:ro"
      - "caddy_data:/data"
      - "caddy_config:/config"
      - "${CLOUD_FILES_PATH}:/var/www/files"
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    depends_on:
      - backend
      - torrents
  dynamicdns:
    build: dynamicdns
    environment:
      - DIGITALOCEAN_TOKEN
      - DOMAIN=nicolasbouliane.com
      - "SUBDOMAINS=home,timeline"
    restart: unless-stopped
volumes:
  caddy_config:
  caddy_data:
  db_persistence:
  django_staticfiles:
  timeline_persistence:
networks:
  default:
    name: homeserver
