<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home server</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        h2{font-weight: 200;color: #999;font-size: 30px;line-height: 30px;margin: 15px 0;}
        html, body{width:100%;margin:0;padding:0;background:#222;color:#999;font:15px/22px sans-serif;-webkit-font-smoothing: antialiased;min-height: 100%;display:flex;align-items:center;}
        form{max-width:100%;padding:15px;box-sizing:border-box;width:400px;margin:0 auto;background:#333;border-radius:10px}
        input, button{outline:none;-webkit-appearance:none;font-size:inherit;color:inherit;}
        input{float:right;border-radius:10px;width:30%;padding: 0 10px;font:15px/30px sans-serif;background:none;border:1px solid #444;color:#fff;margin:5px 0;min-width: 135px;display: block;width: 100%;box-sizing: border-box;-webkit-appearance: none;}
            input:focus, input:active, input:hover{border-color:#666;}
            input::placeholder{color:#666;}
        button{cursor:pointer;line-height:40px;text-align:center;color:#fff;display:block;background: #444;border: none;padding:0 30px;border-radius:10px;margin:10px auto 5px;}
            button:active, button:hover{background:#555}
    </style>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h2>Log in</h2>
        <input id="username" type="text" name="username" placeholder="Username">
        <input id="password" type="password" name="password" placeholder="Password">
        <button type="submit">Log in</button>
    </form>
</body>
</html>
