{$SSL_DOMAIN:localhost} {
    tls {$SSL_EMAIL:internal}
    encode gzip

    handle /transmission* {
        reverse_proxy torrents:9091
    }

    forward_auth /* backend:80 {
        uri /auth/verify/
    }
    handle /auth* {
        reverse_proxy backend:80
    }

    handle /timeline* {
        uri strip_prefix /timeline
        root * /var/www/timeline
        file_server
    }

    handle /api* {
        reverse_proxy backend:80
    }

    handle /admin* {
        reverse_proxy backend:80
    }

    handle /movies/* {
        uri strip_prefix /movies
        root * /var/www/movies/library
        file_server
    }

    handle /static/* {
        uri strip_prefix /static
        root * /var/www/movies/django-static
        file_server
    }

    handle /* {
        root * /var/www/movies/frontend
        file_server
    }
}
