<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Nickflix</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" type="image/png" href="images/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/fontawesome.css" rel="stylesheet">
    <link href="js/components/Spinner.component.css" rel="stylesheet">

    <link rel="preload" href="fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body>
    <div id="page">
        <div id="main-menu">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <router-link :to="{name: 'movies'}">Movies</router-link>
                        </li>
                        <li v-if="canManageTorrents">
                            <router-link :to="{name: 'torrents'}">Torrents</router-link>
                        </li>
                        <li v-if="canManageMovies">
                            <router-link :to="{name: 'triage'}">Triage</router-link>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="main-content">
            <router-view></router-view>
        </div>
    </div>
    <script src="js/libs/vue.js"></script>
    <script src="js/libs/vue-router.js"></script>
    <script src="js/libs/vuex.min.js"></script>
    <script src="js/libs/moment.min.js"></script>
    <script src="js/libs/axios.min.js"></script>
    <script src="js/components/ChromeCastService.js"></script>
    <script src="js/components/Api.js"></script>
    <script src="js/components/Spinner.component.js"></script>
    <script src="js/components/ChromeCastButton.component.js"></script>
    <script src="js/models/movies.js"></script>
    <script src="js/models/requests.js"></script>
    <script src="js/components/MoviesService.js"></script>
    <script src="js/components/Episode.component.js"></script>
    <script src="js/components/EpisodeListItem.component.js"></script>
    <script src="js/components/EpisodeDownloadMenu.component.js"></script>
    <script src="js/components/EpisodeAdminMenu.component.js"></script>
    <script src="js/components/Movie.component.js"></script>
    <script src="js/components/Movies.component.js"></script>
    <script src="js/components/Torrents.component.js"></script>
    <script src="js/components/TriageService.js"></script>
    <script src="js/components/TriageItem.component.js"></script>
    <script src="js/components/Triage.component.js"></script>
    <script src="js/store/permissions.js"></script>
    <script src="js/store/movies.js"></script>
    <script src="js/store/store.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
</body>
</html>